.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.pagination li {
  padding-right: 5px
}

.pagination li a {
  padding: 5px 10px;
  background: #333;
  color: #fff;
  margin-right: 2px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination li.active a {
  background: red;
}

.postContainer {
  display: flex;
}

.postContainer ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.postContainer li {
  border: 1px solid #ccc;
  padding: 20px;
  width: 19%;
  box-sizing: border-box;
  margin-right: 1%;
  margin-bottom: 1%;
}